#main {
	max-width: 1400px;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: verdana;
}

header {
	flex-basis: 75%;
	height: auto;
	margin: auto;
	text-align: center;
	font-family: georgia;
	background-color: #EEEEEE;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

h1 {
	font-size: 2vw;
}

h2 {
	font-size: 1.5vw;
}

#img-div {
	flex-basis: 75%;
	height: auto;
	margin: auto;
}

#image {
	max-width: 100%;
	display: block;
	height: auto;
	margin: auto;
}

#img-caption {
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	font-style: italic;
	font-size: 1vw;
}

li {
	margin: 5px 0 5px 0;
}

#tribute-info {
	flex-basis: 75%;
	height: auto;
	margin: auto;
	width: 100vmax;
	background-color: #EEEEEE;
}

#tribute-info2 {
	flex-basis: 75%;
	height: auto;
	margin: auto;
	width: 100vmax;
	background-color: #EEEEEE;
}

#quote {
	flex-basis: 75%;
	height: auto;
	margin: auto;
	text-align: center;
	font-style: italic;
	font-size: 1vw;
	padding: 20px;
}

footer {
	flex-basis: 75%;
	height: auto;
	margin: auto;
	text-align: center;
	padding: 20px;
	font-size: 1.2vw;
}

#tribute-link {
	font-size: 1.4vw;
	color: black;
}

#tribute-link:hover {
	animation-name: tribute;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
@keyframes tribute {
	100% {
		color: skyblue;
		text-decoration: none;
	}
}